$primary-color: white;
$bg: black;
body {
  color: $primary-color;
  background-color: $bg;
}

table {
  width: 100%;
}

.sortable {
  cursor: pointer;
  &.sort-asc:after {
    content: "↓"
  }
  &.sort-desc:after {
    content: "↑"
  }
}
